/* line 1, ../../src/sass/partial/_header.sass */
.header {
  width: 980px;
  height: 88px;
  background: url(../img/header/header-bg.png);
  position: relative;
  z-index: 99;
}
/* line 7, ../../src/sass/partial/_header.sass */
.header .logo {
  margin: 35px 40px 0;
}
/* line 9, ../../src/sass/partial/_header.sass */
.header .nav, .header .owl-menu {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 2;
  width: 685px;
}
/* line 15, ../../src/sass/partial/_header.sass */
.header .nav .item1, .header .owl-menu .item1, .header .nav .item2, .header .owl-menu .item2, .header .nav .item3, .header .owl-menu .item3, .header .nav .item4, .header .owl-menu .item4, .header .nav .item5, .header .owl-menu .item5 {
  display: block;
  float: left;
  height: 40px;
  margin: 0 16px;
  position: relative;
}
/* line 21, ../../src/sass/partial/_header.sass */
.header .nav .item1 > a, .header .owl-menu .item1 > a, .header .nav .item2 > a, .header .owl-menu .item2 > a, .header .nav .item3 > a, .header .owl-menu .item3 > a, .header .nav .item4 > a, .header .owl-menu .item4 > a, .header .nav .item5 > a, .header .owl-menu .item5 > a {
  display: block;
  height: 40px;
}
/* line 24, ../../src/sass/partial/_header.sass */
.header .nav .item1 ul, .header .owl-menu .item1 ul, .header .nav .item2 ul, .header .owl-menu .item2 ul, .header .nav .item3 ul, .header .owl-menu .item3 ul, .header .nav .item4 ul, .header .owl-menu .item4 ul, .header .nav .item5 ul, .header .owl-menu .item5 ul {
  padding-top: 19px;
  display: none;
  position: absolute;
  background: url(../img/header/submenu/arrow.png) top center no-repeat;
}
/* line 29, ../../src/sass/partial/_header.sass */
.header .nav .item1 ul li, .header .owl-menu .item1 ul li, .header .nav .item2 ul li, .header .owl-menu .item2 ul li, .header .nav .item3 ul li, .header .owl-menu .item3 ul li, .header .nav .item4 ul li, .header .owl-menu .item4 ul li, .header .nav .item5 ul li, .header .owl-menu .item5 ul li {
  height: 40px;
  width: 138px;
  margin: 0 auto;
}
/* line 42, ../../src/sass/partial/_header.sass */
.header .nav > .item1, .header .owl-menu > .item1 {
  width: 89px;
  background: url(../img/header/warm.png);
}
/* line 45, ../../src/sass/partial/_header.sass */
.header .nav > .item1:hover, .header .owl-menu > .item1:hover {
  background: url(../img/header/warm-hover.png);
}
/* line 47, ../../src/sass/partial/_header.sass */
.header .nav > .item1 a, .header .owl-menu > .item1 a {
  width: 155px;
}
/* line 49, ../../src/sass/partial/_header.sass */
.header .nav > .item1 ul, .header .owl-menu > .item1 ul {
  left: 5px;
}
/* line 51, ../../src/sass/partial/_header.sass */
.header .nav > .item1 ul .sub1, .header .owl-menu > .item1 ul .sub1 {
  background: url(../img/header/submenu/boss-sub1.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item1 ul .sub1:hover, .header .owl-menu > .item1 ul .sub1:hover {
  background: url(../img/header/submenu/boss-sub1-hover.png);
}
/* line 53, ../../src/sass/partial/_header.sass */
.header .nav > .item1 ul .sub2, .header .owl-menu > .item1 ul .sub2 {
  background: url(../img/header/submenu/boss-sub2.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item1 ul .sub2:hover, .header .owl-menu > .item1 ul .sub2:hover {
  background: url(../img/header/submenu/boss-sub2-hover.png);
}
/* line 55, ../../src/sass/partial/_header.sass */
.header .nav > .item1 ul .sub3, .header .owl-menu > .item1 ul .sub3 {
  background: url(../img/header/submenu/boss-sub3.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item1 ul .sub3:hover, .header .owl-menu > .item1 ul .sub3:hover {
  background: url(../img/header/submenu/boss-sub3-hover.png);
}
/* line 57, ../../src/sass/partial/_header.sass */
.header .nav > .item2, .header .owl-menu > .item2 {
  width: 155px;
  background: url(../img/header/boss.png);
}
/* line 60, ../../src/sass/partial/_header.sass */
.header .nav > .item2:hover, .header .owl-menu > .item2:hover {
  background: url(../img/header/boss-hover.png);
}
/* line 62, ../../src/sass/partial/_header.sass */
.header .nav > .item2 a, .header .owl-menu > .item2 a {
  width: 155px;
}
/* line 64, ../../src/sass/partial/_header.sass */
.header .nav > .item2 ul, .header .owl-menu > .item2 ul {
  left: 7px;
}
/* line 66, ../../src/sass/partial/_header.sass */
.header .nav > .item2 ul .sub1, .header .owl-menu > .item2 ul .sub1 {
  background: url(../img/header/submenu/boss-sub1.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item2 ul .sub1:hover, .header .owl-menu > .item2 ul .sub1:hover {
  background: url(../img/header/submenu/boss-sub1-hover.png);
}
/* line 68, ../../src/sass/partial/_header.sass */
.header .nav > .item2 ul .sub2, .header .owl-menu > .item2 ul .sub2 {
  background: url(../img/header/submenu/boss-sub2.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item2 ul .sub2:hover, .header .owl-menu > .item2 ul .sub2:hover {
  background: url(../img/header/submenu/boss-sub2-hover.png);
}
/* line 70, ../../src/sass/partial/_header.sass */
.header .nav > .item2 ul .sub3, .header .owl-menu > .item2 ul .sub3 {
  background: url(../img/header/submenu/boss-sub3.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item2 ul .sub3:hover, .header .owl-menu > .item2 ul .sub3:hover {
  background: url(../img/header/submenu/boss-sub3-hover.png);
}
/* line 72, ../../src/sass/partial/_header.sass */
.header .nav > .item3, .header .owl-menu > .item3 {
  width: 96px;
  background: url(../img/header/life.png);
}
/* line 75, ../../src/sass/partial/_header.sass */
.header .nav > .item3:hover, .header .owl-menu > .item3:hover {
  background: url(../img/header/life-hover.png);
}
/* line 77, ../../src/sass/partial/_header.sass */
.header .nav > .item3 a, .header .owl-menu > .item3 a {
  width: 96px;
}
/* line 79, ../../src/sass/partial/_header.sass */
.header .nav > .item3 ul, .header .owl-menu > .item3 ul {
  left: -20px;
}
/* line 81, ../../src/sass/partial/_header.sass */
.header .nav > .item3 ul .sub1, .header .owl-menu > .item3 ul .sub1 {
  background: url(../img/header/submenu/life-sub1.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item3 ul .sub1:hover, .header .owl-menu > .item3 ul .sub1:hover {
  background: url(../img/header/submenu/life-sub1-hover.png);
}
/* line 83, ../../src/sass/partial/_header.sass */
.header .nav > .item4, .header .owl-menu > .item4 {
  width: 98px;
  background: url(../img/header/charity.png);
}
/* line 86, ../../src/sass/partial/_header.sass */
.header .nav > .item4:hover, .header .owl-menu > .item4:hover {
  background: url(../img/header/charity-hover.png);
}
/* line 88, ../../src/sass/partial/_header.sass */
.header .nav > .item4 a, .header .owl-menu > .item4 a {
  width: 98px;
}
/* line 90, ../../src/sass/partial/_header.sass */
.header .nav > .item4 ul, .header .owl-menu > .item4 ul {
  left: -20px;
}
/* line 92, ../../src/sass/partial/_header.sass */
.header .nav > .item4 ul .sub1, .header .owl-menu > .item4 ul .sub1 {
  background: url(../img/header/submenu/charity-sub1.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item4 ul .sub1:hover, .header .owl-menu > .item4 ul .sub1:hover {
  background: url(../img/header/submenu/charity-sub1-hover.png);
}
/* line 94, ../../src/sass/partial/_header.sass */
.header .nav > .item4 ul .sub2, .header .owl-menu > .item4 ul .sub2 {
  background: url(../img/header/submenu/charity-sub2.png);
}
/* line 40, ../../src/sass/partial/_header.sass */
.header .nav > .item4 ul .sub2:hover, .header .owl-menu > .item4 ul .sub2:hover {
  background: url(../img/header/submenu/charity-sub2-hover.png);
}
/* line 96, ../../src/sass/partial/_header.sass */
.header .nav > .item5, .header .owl-menu > .item5 {
  width: 75px;
  background: url(../img/header/home.png);
}
/* line 99, ../../src/sass/partial/_header.sass */
.header .nav > .item5:hover, .header .owl-menu > .item5:hover {
  background: url(../img/header/home-hover.png);
}
/* line 101, ../../src/sass/partial/_header.sass */
.header .nav > .item5 a, .header .owl-menu > .item5 a {
  width: 75px;
}
/* line 104, ../../src/sass/partial/_header.sass */
.header .owl-menu {
  height: 8px;
  top: 70px;
}
/* line 109, ../../src/sass/partial/_header.sass */
.header .owl-menu .active {
  background: url(../img/header/slider-bg.png) center no-repeat;
}
/* line 111, ../../src/sass/partial/_header.sass */
.header .owl-menu .page1, .header .owl-menu .page2, .header .owl-menu .page3, .header .owl-menu .page4, .header .owl-menu .page5 {
  height: 8px;
  float: left;
  position: relative;
}
/* line 116, ../../src/sass/partial/_header.sass */
.header .owl-menu .page1 {
  width: 75px;
  left: 584px;
}
/* line 119, ../../src/sass/partial/_header.sass */
.header .owl-menu .page2 {
  width: 87px;
  left: -59px;
}
/* line 122, ../../src/sass/partial/_header.sass */
.header .owl-menu .page3 {
  width: 155px;
  left: -28px;
}
/* line 125, ../../src/sass/partial/_header.sass */
.header .owl-menu .page4 {
  width: 96px;
  left: 2px;
}
/* line 128, ../../src/sass/partial/_header.sass */
.header .owl-menu .page5 {
  width: 98px;
  left: 32px;
}
/* line 132, ../../src/sass/partial/_header.sass */
.header .owl-menu .bx-pager-item {
  float: left;
}

/* line 138, ../../src/sass/partial/_header.sass */
.header-boss-article {
  margin: 0 auto;
  width: 980px;
  position: relative;
  z-index: 99;
}
/* line 143, ../../src/sass/partial/_header.sass */
.header-boss-article .nav, .header-boss-article .header .owl-menu, .header .header-boss-article .owl-menu {
  position: absolute;
  right: 0;
  width: 716px;
  height: 40px;
  background: url(../img/header/boss-article-manu/article-manu-bg.png);
}
/* line 149, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item1, .header-boss-article .header .owl-menu .item1, .header .header-boss-article .owl-menu .item1, .header-boss-article .nav .item2, .header-boss-article .header .owl-menu .item2, .header .header-boss-article .owl-menu .item2, .header-boss-article .nav .item3, .header-boss-article .header .owl-menu .item3, .header .header-boss-article .owl-menu .item3, .header-boss-article .nav .item4, .header-boss-article .header .owl-menu .item4, .header .header-boss-article .owl-menu .item4, .header-boss-article .nav .item5, .header-boss-article .header .owl-menu .item5, .header .header-boss-article .owl-menu .item5 {
  display: block;
  float: left;
  height: 40px;
  margin: 0 6px;
  background-image: url(../img/header/boss-article-manu/line.png);
}
/* line 155, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item1 a, .header-boss-article .header .owl-menu .item1 a, .header .header-boss-article .owl-menu .item1 a, .header-boss-article .nav .item2 a, .header-boss-article .header .owl-menu .item2 a, .header .header-boss-article .owl-menu .item2 a, .header-boss-article .nav .item3 a, .header-boss-article .header .owl-menu .item3 a, .header .header-boss-article .owl-menu .item3 a, .header-boss-article .nav .item4 a, .header-boss-article .header .owl-menu .item4 a, .header .header-boss-article .owl-menu .item4 a, .header-boss-article .nav .item5 a, .header-boss-article .header .owl-menu .item5 a, .header .header-boss-article .owl-menu .item5 a {
  display: block;
  height: 40px;
}
/* line 163, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item1, .header-boss-article .header .owl-menu .item1, .header .header-boss-article .owl-menu .item1 {
  width: 89px;
  margin-left: 115px;
  background: url(../img/header/boss-article-manu/warm.png);
}
/* line 167, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item1:hover, .header-boss-article .header .owl-menu .item1:hover, .header .header-boss-article .owl-menu .item1:hover {
  background: url(../img/header/boss-article-manu/warm-hover.png);
}
/* line 169, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item1 a, .header-boss-article .header .owl-menu .item1 a, .header .header-boss-article .owl-menu .item1 a {
  width: 138px;
}
/* line 171, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item2, .header-boss-article .header .owl-menu .item2, .header .header-boss-article .owl-menu .item2 {
  width: 138px;
  background: url(../img/header/boss-article-manu/boss.png);
}
/* line 174, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item2:hover, .header-boss-article .header .owl-menu .item2:hover, .header .header-boss-article .owl-menu .item2:hover {
  background: url(../img/header/boss-article-manu/boss-hover.png);
}
/* line 176, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item2 a, .header-boss-article .header .owl-menu .item2 a, .header .header-boss-article .owl-menu .item2 a {
  width: 138px;
}
/* line 178, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item3, .header-boss-article .header .owl-menu .item3, .header .header-boss-article .owl-menu .item3 {
  width: 90px;
  background: url(../img/header/boss-article-manu/life.png);
}
/* line 181, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item3:hover, .header-boss-article .header .owl-menu .item3:hover, .header .header-boss-article .owl-menu .item3:hover {
  background: url(../img/header/boss-article-manu/life-hover.png);
}
/* line 183, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item3 a, .header-boss-article .header .owl-menu .item3 a, .header .header-boss-article .owl-menu .item3 a {
  width: 90px;
}
/* line 185, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item4, .header-boss-article .header .owl-menu .item4, .header .header-boss-article .owl-menu .item4 {
  width: 90px;
  background: url(../img/header/boss-article-manu/charity.png);
}
/* line 188, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item4:hover, .header-boss-article .header .owl-menu .item4:hover, .header .header-boss-article .owl-menu .item4:hover {
  background: url(../img/header/boss-article-manu/charity-hover.png);
}
/* line 190, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item4 a, .header-boss-article .header .owl-menu .item4 a, .header .header-boss-article .owl-menu .item4 a {
  width: 90px;
}
/* line 192, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item5, .header-boss-article .header .owl-menu .item5, .header .header-boss-article .owl-menu .item5 {
  width: 90px;
  background: url(../img/header/boss-article-manu/home.png);
}
/* line 195, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item5:hover, .header-boss-article .header .owl-menu .item5:hover, .header .header-boss-article .owl-menu .item5:hover {
  background: url(../img/header/boss-article-manu/home-hover.png);
}
/* line 197, ../../src/sass/partial/_header.sass */
.header-boss-article .nav .item5 a, .header-boss-article .header .owl-menu .item5 a, .header .header-boss-article .owl-menu .item5 a {
  width: 90px;
}

/* line 6, ../../src/sass/partial/_footer.sass */
.footer {
  position: relative;
}
/* line 8, ../../src/sass/partial/_footer.sass */
.footer .boss-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 294px;
  bottom: 44px;
}
/* line 16, ../../src/sass/partial/_footer.sass */
.footer .boss-btn .bossbig-btn, .footer .boss-btn .boss2-btn {
  cursor: pointer;
  float: left;
  width: 147px;
  height: 55px;
}
/* line 22, ../../src/sass/partial/_footer.sass */
.footer .boss-btn .bossbig-btn {
  background: url(../img/footer/bossbig-btn.png);
}
/* line 24, ../../src/sass/partial/_footer.sass */
.footer .boss-btn .boss2-btn {
  background: url(../img/footer/boss2-btn.png);
}
/* line 26, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom {
  background: #01a29a;
  height: 44px;
  text-align: center;
}
/* line 30, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .share {
  display: inline-block;
  background: url(../img/footer/share.png) left center no-repeat;
  width: 291px;
  height: 17px;
  margin-top: 13px;
}
/* line 36, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .share .share1, .footer .footer-bottom .share .share2, .footer .footer-bottom .share .share3 {
  height: 17px;
  width: 55px;
  float: left;
  border-right: 1px solid #fff;
  padding: 0 5px;
  cursor: pointer;
}
/* line 43, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .share .share1 {
  background: url(../img/footer/2012-share.png) center no-repeat;
  margin-left: 93px;
}
/* line 46, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .share .share1:hover {
  background: url(../img/footer/2012-share-hover.png) center no-repeat;
}
/* line 48, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .share .share2 {
  background: url(../img/footer/2013-share.png) center no-repeat;
}
/* line 50, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .share .share2:hover {
  background: url(../img/footer/2013-share-hover.png) center no-repeat;
}
/* line 52, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .share .share3 {
  background: url(../img/footer/2014-share.png) center no-repeat;
}
/* line 54, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .share .share3:hover {
  background: url(../img/footer/2014-share-hover.png) center no-repeat;
}
/* line 56, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .director-btn {
  width: 120px;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
  background: url(../img/footer/director-btn.png);
}
/* line 64, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .director-btn:hover {
  background: url(../img/footer/director-btn-hover.png);
}
/* line 66, ../../src/sass/partial/_footer.sass */
.footer .footer-bottom .director-btn a {
  width: 120px;
  height: 32px;
  display: block;
}

/* line 72, ../../src/sass/partial/_footer.sass */
.footer-boss-article {
  width: 980px;
  height: 85px;
  text-align: center;
  margin: 0 auto;
  background: url(../img/footer/boss-footer.png);
}
/* line 78, ../../src/sass/partial/_footer.sass */
.footer-boss-article .share {
  display: inline-block;
  background: url(../img/footer/share.png) left center no-repeat;
  width: 291px;
  height: 17px;
  margin-top: 39px;
}
/* line 84, ../../src/sass/partial/_footer.sass */
.footer-boss-article .share .share1, .footer-boss-article .share .share2, .footer-boss-article .share .share3 {
  height: 17px;
  width: 55px;
  float: left;
  border-right: 1px solid #fff;
  padding: 0 5px;
  cursor: pointer;
}
/* line 91, ../../src/sass/partial/_footer.sass */
.footer-boss-article .share .share1 {
  background: url(../img/footer/2012-share.png) center no-repeat;
  margin-left: 93px;
}
/* line 94, ../../src/sass/partial/_footer.sass */
.footer-boss-article .share .share1:hover {
  background: url(../img/footer/2012-share-hover.png) center no-repeat;
}
/* line 96, ../../src/sass/partial/_footer.sass */
.footer-boss-article .share .share2 {
  background: url(../img/footer/2013-share.png) center no-repeat;
}
/* line 98, ../../src/sass/partial/_footer.sass */
.footer-boss-article .share .share2:hover {
  background: url(../img/footer/2013-share-hover.png) center no-repeat;
}
/* line 100, ../../src/sass/partial/_footer.sass */
.footer-boss-article .share .share3 {
  background: url(../img/footer/2014-share.png) center no-repeat;
}
/* line 102, ../../src/sass/partial/_footer.sass */
.footer-boss-article .share .share3:hover {
  background: url(../img/footer/2014-share-hover.png) center no-repeat;
}

/* line 5, ../../src/sass/style.sass */
ul {
  padding: 0;
  margin: 0;
}

/* line 8, ../../src/sass/style.sass */
li {
  list-style: none;
}

/* line 10, ../../src/sass/style.sass */
h2 {
  margin: 0;
}

/* line 12, ../../src/sass/style.sass */
a {
  text-decoration: none;
}

/* line 15, ../../src/sass/style.sass */
.header, .content, .footer {
  margin: 0 auto;
  width: 980px;
}

/* line 20, ../../src/sass/style.sass */
.content img {
  display: block;
}

/* line 23, ../../src/sass/style.sass */
.content {
  position: relative;
  overflow: hidden;
}
/* line 46, ../../src/sass/style.sass */
.content .top-big {
  width: 980px;
  height: 260px;
  border-bottom: 8px solid #01a29a;
  background: url(../img/content/boss-article/boss-big-top-img.png);
  position: relative;
  z-index: 1;
}
/* line 48, ../../src/sass/style.sass */
.content .top-big .bubble-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 36, ../../src/sass/style.sass */
.content .top-big .bubble-btn .boss-big, .content .top-big .bubble-btn .boss-2 {
  float: left;
}
/* line 38, ../../src/sass/style.sass */
.content .top-big .bubble-btn .boss-big {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/bigarticle-big-btn2.png);
}
/* line 42, ../../src/sass/style.sass */
.content .top-big .bubble-btn .boss-2 {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/bigarticle-2-btn1.png);
}
/* line 51, ../../src/sass/style.sass */
.content .top-two {
  width: 980px;
  height: 260px;
  border-bottom: 8px solid #01a29a;
  background: url(../img/content/boss-article/boss-2-top-img.png);
  position: relative;
  z-index: 1;
}
/* line 53, ../../src/sass/style.sass */
.content .top-two .bubble-btn {
  position: absolute;
  bottom: 0;
  left: 30px;
}
/* line 36, ../../src/sass/style.sass */
.content .top-two .bubble-btn .boss-big, .content .top-two .bubble-btn .boss-2 {
  float: right;
}
/* line 38, ../../src/sass/style.sass */
.content .top-two .bubble-btn .boss-big {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/twoarticle-big-btn2.png);
}
/* line 42, ../../src/sass/style.sass */
.content .top-two .bubble-btn .boss-2 {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/twoarticle-2-btn1.png);
}
/* line 56, ../../src/sass/style.sass */
.content .top-director1 {
  width: 980px;
  height: 260px;
  border-bottom: 8px solid #01a29a;
  background: url(../img/content/boss-article/boss-director1-top-img.png);
  position: relative;
  z-index: 1;
}
/* line 58, ../../src/sass/style.sass */
.content .top-director1 .bubble-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 36, ../../src/sass/style.sass */
.content .top-director1 .bubble-btn .boss-big, .content .top-director1 .bubble-btn .boss-2 {
  float: left;
}
/* line 38, ../../src/sass/style.sass */
.content .top-director1 .bubble-btn .boss-big {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-big-btn2.png);
}
/* line 42, ../../src/sass/style.sass */
.content .top-director1 .bubble-btn .boss-2 {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-2-btn1.png);
}
/* line 61, ../../src/sass/style.sass */
.content .top-director2 {
  width: 980px;
  height: 260px;
  border-bottom: 8px solid #01a29a;
  background: url(../img/content/boss-article/boss-director2-top-img.png);
  position: relative;
  z-index: 1;
}
/* line 63, ../../src/sass/style.sass */
.content .top-director2 .bubble-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 36, ../../src/sass/style.sass */
.content .top-director2 .bubble-btn .boss-big, .content .top-director2 .bubble-btn .boss-2 {
  float: left;
}
/* line 38, ../../src/sass/style.sass */
.content .top-director2 .bubble-btn .boss-big {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-big-btn2.png);
}
/* line 42, ../../src/sass/style.sass */
.content .top-director2 .bubble-btn .boss-2 {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-2-btn1.png);
}
/* line 66, ../../src/sass/style.sass */
.content .top-director3 {
  width: 980px;
  height: 260px;
  border-bottom: 8px solid #01a29a;
  background: url(../img/content/boss-article/boss-director3-top-img.png);
  position: relative;
  z-index: 1;
}
/* line 68, ../../src/sass/style.sass */
.content .top-director3 .bubble-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 36, ../../src/sass/style.sass */
.content .top-director3 .bubble-btn .boss-big, .content .top-director3 .bubble-btn .boss-2 {
  float: left;
}
/* line 38, ../../src/sass/style.sass */
.content .top-director3 .bubble-btn .boss-big {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-big-btn2.png);
}
/* line 42, ../../src/sass/style.sass */
.content .top-director3 .bubble-btn .boss-2 {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-2-btn1.png);
}
/* line 71, ../../src/sass/style.sass */
.content .top-director4 {
  width: 980px;
  height: 260px;
  border-bottom: 8px solid #01a29a;
  background: url(../img/content/boss-article/boss-director4-top-img.png);
  position: relative;
  z-index: 1;
}
/* line 73, ../../src/sass/style.sass */
.content .top-director4 .bubble-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 36, ../../src/sass/style.sass */
.content .top-director4 .bubble-btn .boss-big, .content .top-director4 .bubble-btn .boss-2 {
  float: left;
}
/* line 38, ../../src/sass/style.sass */
.content .top-director4 .bubble-btn .boss-big {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-big-btn2.png);
}
/* line 42, ../../src/sass/style.sass */
.content .top-director4 .bubble-btn .boss-2 {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-2-btn1.png);
}
/* line 76, ../../src/sass/style.sass */
.content .top-director5 {
  width: 980px;
  height: 260px;
  border-bottom: 8px solid #01a29a;
  background: url(../img/content/boss-article/boss-director5-top-img.png);
  position: relative;
  z-index: 1;
}
/* line 78, ../../src/sass/style.sass */
.content .top-director5 .bubble-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 36, ../../src/sass/style.sass */
.content .top-director5 .bubble-btn .boss-big, .content .top-director5 .bubble-btn .boss-2 {
  float: left;
}
/* line 38, ../../src/sass/style.sass */
.content .top-director5 .bubble-btn .boss-big {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-big-btn2.png);
}
/* line 42, ../../src/sass/style.sass */
.content .top-director5 .bubble-btn .boss-2 {
  width: 115px;
  height: 126px;
  background: url(../img/content/boss-article/bubble-btn/directorarticle-2-btn1.png);
}
/* line 81, ../../src/sass/style.sass */
.content .article {
  margin: 55px 0 60px 20px;
  width: 695px;
  height: 1068px;
  float: left;
}
/* line 86, ../../src/sass/style.sass */
.content .article a {
  display: block;
}
/* line 89, ../../src/sass/style.sass */
.content .top-big-activity {
  width: 980px;
  height: 260px;
  border-bottom: 8px solid #01a29a;
  background: url(../img/content/boss-article/boss-big-top-img.png);
  position: relative;
  z-index: 1;
  background: url(../img/content/boss-article/boss-activity/big-activity-top-img.png);
}
/* line 92, ../../src/sass/style.sass */
.content .top-big-activity .activity-top-btn {
  position: absolute;
  bottom: 0;
  left: 30px;
}
/* line 96, ../../src/sass/style.sass */
.content .top-big-activity .activity-top-btn .two-btn {
  width: 222px;
  height: 112px;
  background: url(../img/content/boss-article/boss-activity/two-activity-btn.png);
}
/* line 100, ../../src/sass/style.sass */
.content .top-big-activity .activity-top-btn .two-btn:hover {
  background: url(../img/content/boss-article/boss-activity/two-activity-btn-hover.png);
}
/* line 102, ../../src/sass/style.sass */
.content > .right {
  overflow: hidden;
  float: left;
  margin: 25px 0 30px 20px;
}
/* line 106, ../../src/sass/style.sass */
.content > .right img.title-activity {
  margin: 25px 0 0 40px;
}
/* line 108, ../../src/sass/style.sass */
.content > .right .article {
  margin: 25px 0 30px 20px;
  height: 1068px;
  width: 695px;
}
/* line 112, ../../src/sass/style.sass */
.content > .right .article a {
  display: block;
}
/* line 114, ../../src/sass/style.sass */
.content > .right > hr {
  border-top: 1px solid #01a29a;
  margin: 0 0 10px 20px;
}
/* line 117, ../../src/sass/style.sass */
.content > .right .question {
  margin: 10px 0 10px 20px;
  height: 300px;
  width: 695px;
  text-align: center;
}
/* line 122, ../../src/sass/style.sass */
.content > .right .question ul {
  display: inline-block;
}
/* line 124, ../../src/sass/style.sass */
.content > .right .question ul li {
  width: 670px;
  text-align: left;
  margin: 25px 0;
}
/* line 128, ../../src/sass/style.sass */
.content > .right .question ul li a {
  height: 15px;
}
/* line 130, ../../src/sass/style.sass */
.content > .right .question ul li a p {
  color: #2C2C2C;
  font-size: 15px;
  position: relative;
}
/* line 134, ../../src/sass/style.sass */
.content > .right .question ul li a p:after {
  margin-left: 5px;
  content: "";
  width: 17px;
  height: 17px;
  background: url(../img/content/boss-article/question-arrow.png) right no-repeat;
  position: absolute;
}
/* line 141, ../../src/sass/style.sass */
.content > .right .question ul li a p:hover {
  color: #01a29a;
}
/* line 143, ../../src/sass/style.sass */
.content .gotop {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 645px;
}
/* line 148, ../../src/sass/style.sass */
.content .gotop img {
  width: 30px;
  height: 30px;
}
/* line 151, ../../src/sass/style.sass */
.content .director {
  float: right;
  margin: 55px 38px 0 0;
}
/* line 154, ../../src/sass/style.sass */
.content .director img {
  margin-bottom: 20px;
  padding-bottom: 10px;
  background: #F7F7F7;
}
/* line 158, ../../src/sass/style.sass */
.content .director img:hover {
  background: #e6e6e6;
}
/* line 167, ../../src/sass/style.sass */
.content .activity-big-btn {
  width: 235px;
  height: 45px;
  background: url(../img/content/boss-article/activity-big-btn.png);
}
/* line 165, ../../src/sass/style.sass */
.content .activity-big-btn:hover {
  background: url(../img/content/boss-article/activity-big-btn-hover.png);
}
/* line 169, ../../src/sass/style.sass */
.content .bossbig-text-btn {
  width: 241px;
  height: 45px;
  background: url(../img/content/boss-article/boss-activity/bossbig-text-btn.png);
}
/* line 165, ../../src/sass/style.sass */
.content .bossbig-text-btn:hover {
  background: url(../img/content/boss-article/boss-activity/bossbig-text-btn-hover.png);
}
/* line 171, ../../src/sass/style.sass */
.content .activity-vedio-btn {
  width: 212px;
  height: 45px;
  background: url(../img/content/boss-article/boss-activity/vedio-btn.png);
}
/* line 165, ../../src/sass/style.sass */
.content .activity-vedio-btn:hover {
  background: url(../img/content/boss-article/boss-activity/vedio-btn-hover.png);
}
/* line 173, ../../src/sass/style.sass */
.content .activity-vedio-btn, .content .bossbig-text-btn, .content .activity-big-btn {
  margin-left: 15px;
  float: left;
}
/* line 176, ../../src/sass/style.sass */
.content .dialogue {
  margin: 0 auto;
  width: 757px;
  margin-bottom: 75px;
  text-align: center;
  margin-top: 120px;
}
/* line 184, ../../src/sass/style.sass */
.content .dialogue > img {
  margin-bottom: 20px;
}
/* line 186, ../../src/sass/style.sass */
.content .page-navigation-box {
  text-align: center;
  margin: 40px;
}
/* line 189, ../../src/sass/style.sass */
.content .page-navigation-box ul {
  display: inline-block;
}
/* line 191, ../../src/sass/style.sass */
.content .page-navigation-box ul li {
  float: left;
  width: 23px;
  height: 23px;
  color: #2C2C2C;
  line-height: 24px;
  cursor: pointer;
  margin: 0 15px;
}
/* line 199, ../../src/sass/style.sass */
.content .page-navigation-box ul .active {
  background: url(../img/content/boss-article/boss-activity/pager-bg.png);
  color: #fff;
}
/* line 202, ../../src/sass/style.sass */
.content .gotop-activity {
  cursor: pointer;
  position: absolute;
  bottom: 35px;
  left: 890px;
}
/* line 207, ../../src/sass/style.sass */
.content .gotop-activity img {
  width: 30px;
  height: 30px;
}

/* line 210, ../../src/sass/style.sass */
#html5-lightbox {
  position: fixed !important;
}

/* line 212, ../../src/sass/style.sass */
#html5-lightbox-box {
  margin: 20px auto !important;
}

/* line 215, ../../src/sass/style.sass */
.clear {
  clear: both;
}

/* line 247, ../../src/sass/style.sass */
.article-bg {
  background: url(../img/content/article/article-bg.png);
}
/* line 249, ../../src/sass/style.sass */
.article-bg img {
  display: inline;
}
/* line 251, ../../src/sass/style.sass */
.article-bg .article-title-bg {
  height: 58px;
  background: url(../img/content/article/article-title-bg.png) no-repeat;
  overflow: hidden;
}
/* line 255, ../../src/sass/style.sass */
.article-bg .article-title-bg > img {
  margin: 17px 0 0 35px;
}
/* line 257, ../../src/sass/style.sass */
.article-bg .inner-link {
  width: 164px;
  height: 55px;
  float: right;
  background: url(../img/content/article/inner-link-bg.png) no-repeat;
  text-align: right;
}
/* line 263, ../../src/sass/style.sass */
.article-bg .inner-link:hover {
  background: url(../img/content/article/inner-link-bg-hover.png) no-repeat;
}
/* line 265, ../../src/sass/style.sass */
.article-bg .inner-link > img {
  margin: 12px 10px 0 0;
}
/* line 267, ../../src/sass/style.sass */
.article-bg .link {
  clear: both;
  text-align: center;
  margin-top: 30px;
  height: 59px;
}
/* line 272, ../../src/sass/style.sass */
.article-bg .link a {
  display: inline-block;
}
/* line 274, ../../src/sass/style.sass */
.article-bg .link a > .charity-about-link {
  height: 60px;
  width: 253px;
  background: url(../img/content/article/link-info.png) no-repeat;
}
/* line 244, ../../src/sass/style.sass */
.article-bg .link a > .charity-about-link:hover {
  background: url(../img/content/article/link-info-hover.png) no-repeat;
}
/* line 276, ../../src/sass/style.sass */
.article-bg .link a > .charity-about-link-photo {
  height: 60px;
  width: 202px;
  background: url(../img/content/article/link-photo.png) no-repeat;
  margin-left: 20px;
}
/* line 244, ../../src/sass/style.sass */
.article-bg .link a > .charity-about-link-photo:hover {
  background: url(../img/content/article/link-photo-hover.png) no-repeat;
}
/* line 279, ../../src/sass/style.sass */
.article-bg .link a > .charity-volunteer-holiday, .article-bg .link a .charity-volunteer-orign {
  height: 59px;
  width: 218px;
  background: url(../img/content/article/link-login-love.png) no-repeat;
}
/* line 244, ../../src/sass/style.sass */
.article-bg .link a > .charity-volunteer-holiday:hover, .article-bg .link a .charity-volunteer-orign:hover {
  background: url(../img/content/article/link-login-love-hover.png) no-repeat;
}
/* line 281, ../../src/sass/style.sass */
.article-bg .link a > .life-learn {
  height: 59px;
  width: 174px;
  background: url(../img/content/article/link-e-college.png) no-repeat;
}
/* line 244, ../../src/sass/style.sass */
.article-bg .link a > .life-learn:hover {
  background: url(../img/content/article/link-e-college-hover.png) no-repeat;
}
/* line 284, ../../src/sass/style.sass */
.article-bg .section {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}
/* line 289, ../../src/sass/style.sass */
.article-bg .section .top, .article-bg .section .center, .article-bg .section .bottom {
  margin: 0 auto;
  width: 880px;
}
/* line 292, ../../src/sass/style.sass */
.article-bg .section > .top {
  height: 77px;
  background: url(../img/content/article/note-top.png) no-repeat;
}
/* line 295, ../../src/sass/style.sass */
.article-bg .section > .center {
  width: 880px;
  background: #fff url(../img/content/article/note-line.png) repeat-y center;
  text-align: center;
}
/* line 299, ../../src/sass/style.sass */
.article-bg .section > .center .text {
  margin-top: 20px;
}
/* line 302, ../../src/sass/style.sass */
.article-bg .section > .center .line {
  width: 765px;
  height: 3px;
  margin: 0 auto;
  background: url(../img/content/article/life-learn/line.png) no-repeat;
}
/* line 307, ../../src/sass/style.sass */
.article-bg .section > .center .slide-btn {
  width: 106px;
  height: 29px;
  margin: 20px 0 20px 717px;
  cursor: pointer;
}
/* line 312, ../../src/sass/style.sass */
.article-bg .section > .center .slide-btn .none {
  display: none;
}
/* line 314, ../../src/sass/style.sass */
.article-bg .section > .center .slide-photo {
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  display: none;
}
/* line 319, ../../src/sass/style.sass */
.article-bg .section > .bottom {
  background: #fff;
  height: 20px;
}
/* line 322, ../../src/sass/style.sass */
.article-bg .section > .illustration-relative {
  position: relative;
}
/* line 324, ../../src/sass/style.sass */
.article-bg .section > .illustration-relative .illustration-absolute1 {
  position: absolute;
  right: 0;
  top: 27px;
}
/* line 328, ../../src/sass/style.sass */
.article-bg .section > .illustration-relative .illustration-absolute2 {
  position: absolute;
  bottom: 245px;
  right: 220px;
}
/* line 333, ../../src/sass/style.sass */
.article-bg .photo {
  width: 780px;
  margin: 0 auto;
  margin-top: 75px;
}
/* line 337, ../../src/sass/style.sass */
.article-bg .photo .left, .article-bg .photo .right {
  width: 357px;
  height: 388px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  background: url(../img/content/article/photo-bg.png) no-repeat;
}
/* line 339, ../../src/sass/style.sass */
.article-bg .photo .left > .photo-img, .article-bg .photo .right > .photo-img {
  margin-top: 12px;
}
/* line 341, ../../src/sass/style.sass */
.article-bg .photo .left > .description, .article-bg .photo .right > .description {
  margin-top: 20px;
}
/* line 343, ../../src/sass/style.sass */
.article-bg .photo .left > .description2, .article-bg .photo .right > .description2 {
  margin-top: 13px;
}
/* line 345, ../../src/sass/style.sass */
.article-bg .photo .left {
  float: left;
}
/* line 347, ../../src/sass/style.sass */
.article-bg .photo .left > .top {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  margin-left: auto;
  margin-right: auto;
  width: 212px;
  height: 67px;
  background: url(../img/content/article/photo-sticker1.png) no-repeat top center;
}
/* line 349, ../../src/sass/style.sass */
.article-bg .photo .left > a {
  display: block;
}
/* line 351, ../../src/sass/style.sass */
.article-bg .photo .left > a > img {
  margin-top: 12px;
}
/* line 353, ../../src/sass/style.sass */
.article-bg .photo .left > a > .movie-description {
  margin-top: 20px;
}
/* line 355, ../../src/sass/style.sass */
.article-bg .photo .right {
  float: right;
}
/* line 357, ../../src/sass/style.sass */
.article-bg .photo .right > .top {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  margin-left: auto;
  margin-right: auto;
  width: 212px;
  height: 67px;
  background: url(../img/content/article/photo-sticker2.png) no-repeat top center;
}
/* line 359, ../../src/sass/style.sass */
.article-bg .photo .right > a {
  display: block;
}
/* line 361, ../../src/sass/style.sass */
.article-bg .photo .right > a > img {
  margin-top: 12px;
}
/* line 363, ../../src/sass/style.sass */
.article-bg .photo .right > a > .movie-description {
  margin-top: 20px;
}
/* line 365, ../../src/sass/style.sass */
.article-bg .photo .center {
  width: 761px;
  height: 381px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  background: url(../img/content/article/photo-bg3.png) no-repeat;
}
/* line 367, ../../src/sass/style.sass */
.article-bg .photo .center > .photo-img {
  margin-top: 12px;
}
/* line 369, ../../src/sass/style.sass */
.article-bg .photo .center > .description {
  margin-top: 15px;
}
/* line 371, ../../src/sass/style.sass */
.article-bg .photo .center > .top {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  margin-left: auto;
  margin-right: auto;
  width: 212px;
  height: 67px;
  background: url(../img/content/article/photo-sticker3.png) no-repeat top center;
}
/* line 376, ../../src/sass/style.sass */
.article-bg .shadow-charity-volunteer-orign1 {
  width: 899px;
  height: 475px;
  background: url(../img/content/article/charity-volunteer-orign/shadow1.png) -5px bottom no-repeat;
}
/* line 378, ../../src/sass/style.sass */
.article-bg .shadow-charity-volunteer-orign2 {
  width: 899px;
  height: 500px;
  background: url(../img/content/article/charity-volunteer-orign/shadow2.png) -5px bottom no-repeat;
}
/* line 381, ../../src/sass/style.sass */
.article-bg .shadow-charity-volunteer-holiday1 {
  width: 899px;
  height: 500px;
  background: url(../img/content/article/charity-volunteer-holiday/shadow1.png) -5px bottom no-repeat;
}
/* line 383, ../../src/sass/style.sass */
.article-bg .shadow-charity-volunteer-holiday2 {
  width: 898px;
  height: 1825px;
  background: url(../img/content/article/charity-volunteer-holiday/shadow2.png) -5px bottom no-repeat;
}
/* line 386, ../../src/sass/style.sass */
.article-bg .shadow-charity-about1 {
  width: 898px;
  height: 610px;
  background: url(../img/content/article/charity-about/shadow1.png) -5px bottom no-repeat;
}
/* line 389, ../../src/sass/style.sass */
.article-bg .shadow-life-learn1 {
  width: 898px;
  padding-bottom: 20px;
  background: url(../img/content/article/life-learn/shadow0.png) -5px bottom no-repeat;
}

/* line 404, ../../src/sass/style.sass */
.article-bg-photo {
  height: 450px;
  background: url(../img/content/article/article-bg.png);
}
/* line 408, ../../src/sass/style.sass */
.article-bg-photo .shadow {
  position: absolute;
  top: 430px;
}
/* line 411, ../../src/sass/style.sass */
.article-bg-photo .article-title-bg {
  height: 58px;
  background: url(../img/content/article/article-title-bg.png) no-repeat;
  overflow: hidden;
}
/* line 415, ../../src/sass/style.sass */
.article-bg-photo .article-title-bg > img {
  margin: 17px 0 0 35px;
}

/* line 417, ../../src/sass/style.sass */
.player {
  position: absolute;
  top: 250px;
  width: 740px;
  height: 498px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 427, ../../src/sass/style.sass */
.player #ytplayer {
  margin: 15px;
}
/* line 429, ../../src/sass/style.sass */
.player > img {
  display: block;
  margin: 0 auto;
}

/* line 433, ../../src/sass/style.sass */
.another-video {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  background: url(../img/content/article/article-bg.png);
  height: 810px;
  text-align: center;
}
/* line 441, ../../src/sass/style.sass */
.another-video > img {
  display: block;
  margin: 0 auto;
  margin-top: 270px;
}
/* line 446, ../../src/sass/style.sass */
.another-video .video-list {
  display: inline-block;
  margin-top: 30px;
}
/* line 449, ../../src/sass/style.sass */
.another-video .video-list li {
  width: 326px;
  height: 210px;
  text-align: center;
  color: #515151;
  font-size: 14px;
  display: block;
  float: left;
  cursor: pointer;
}
/* line 460, ../../src/sass/style.sass */
.another-video .video-list li .video-img2014 {
  margin: 0 auto;
  width: 250px;
  height: 151px;
  background-image: url(../img/content/article/charity-about-photo/video2014-img.png);
}
/* line 401, ../../src/sass/style.sass */
.another-video .video-list li .video-img2014:hover {
  background-image: url(../img/content/article/charity-about-photo/video2014-img-hover.png);
}
/* line 460, ../../src/sass/style.sass */
.another-video .video-list li .video-img2013-1 {
  margin: 0 auto;
  width: 250px;
  height: 151px;
  background-image: url(../img/content/article/charity-about-photo/video2013-1-img.png);
}
/* line 401, ../../src/sass/style.sass */
.another-video .video-list li .video-img2013-1:hover {
  background-image: url(../img/content/article/charity-about-photo/video2013-1-img-hover.png);
}
/* line 460, ../../src/sass/style.sass */
.another-video .video-list li .video-img2013-2 {
  margin: 0 auto;
  width: 250px;
  height: 151px;
  background-image: url(../img/content/article/charity-about-photo/video2013-2-img.png);
}
/* line 401, ../../src/sass/style.sass */
.another-video .video-list li .video-img2013-2:hover {
  background-image: url(../img/content/article/charity-about-photo/video2013-2-img-hover.png);
}
/* line 460, ../../src/sass/style.sass */
.another-video .video-list li .video-img2013-3 {
  margin: 0 auto;
  width: 250px;
  height: 151px;
  background-image: url(../img/content/article/charity-about-photo/video2013-3-img.png);
}
/* line 401, ../../src/sass/style.sass */
.another-video .video-list li .video-img2013-3:hover {
  background-image: url(../img/content/article/charity-about-photo/video2013-3-img-hover.png);
}
/* line 462, ../../src/sass/style.sass */
.another-video .video-list li img {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
