/* index */
.wf-index-main-bg{ 
    width:980px;
    height:450px; 
    background:url(../img/content/warm_future/wf_index_bg_01.png) no-repeat; 
    position:relative;
}

.wf-index-dream-frame{
    width: 141px;
    height: 270px;
    background: url(../img/content/warm_future/wf_index_image_01.png) no-repeat;
    position: absolute;
    top: 222px;
    left: 791px;
}

.wf-index-dream-number{
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 36px;
    color: #d53449;
    text-align: center;
    position: absolute;
    top: 295px;
    left: 798px;
}

.wf-index-btn-01{
    width: 37px;
    height: 163px;
    position: absolute;
    top: 38px;
    left: 660px;
}

.wf-index-btn-01 a{
    display:block;
    width: 37px;
    height: 163px;
    background: url(../img/content/warm_future/wf_index_btn_01.png) no-repeat;
}

.wf-index-btn-02{
    width: 36px;
    height: 169px;
    position: absolute;
    top: 33px;
    left: 760px;
}

.wf-index-btn-02 a{
    display:block;
    width: 36px;
    height: 169px;
    background: url(../img/content/warm_future/wf_index_btn_02.png) no-repeat;
}

.wf-index-btn-03{
    width: 43px;
    height: 168px;
    position: absolute;
    top: 32px;
    left: 560px;
}

.wf-index-btn-03 a{
    display:block;
    width: 43px;
    height: 168px;
    background: url(../img/content/warm_future/wf_index_btn_03.png) no-repeat;
}

.wf-donation-drift-btn{
    position:absolute;
    top:100px; 
    left:919px;
    z-index:999;
}

.wf-donation-drift-btn div{
    width:39px;
    height:171px;
}

.wf-donation-drift-btn-02{
    margin-top:30px;
}

.wf-donation-header{
    width:980px; 
    height:210px; 
    position:relative;
    overflow:hidden;
    background-color:#f9f2e6;
}

.wf-donation-header-bg-01{
    width:980px; 
    height:210px;
    position:absolute;
    top:0px;
    left:0px;
    background:url(../img/content/warm_future/wf_gd_bg_02.png) no-repeat;
}

.wf-donation-header-bg-02{
    width:980px; 
    height:210px;
    position:absolute;
    top:0px;
    left:0px;
    background:url(../img/content/warm_future/wf_gd_bg_01.png) no-repeat;
}

.wf-donation-header-bg-03{
    width:980px; 
    height:210px;
    position:absolute;
    top:0px;
    left:0px;
    background:url(../img/content/warm_future/wf_gd_line_01.png) no-repeat;
}

.wf-donation-header-bg-04{
    width:980px; 
    height:210px;
    position:absolute;
    top:0px;
    left:0px;
    background:url(../img/content/warm_future/wf-gi-header-02.png) no-repeat;
}

.wf-donation-header-bg-05{
    width:980px; 
    height:210px;
    position:absolute;
    top:0px;
    left:0px;
    background:url(../img/content/warm_future/wf-gi-header-01.png) no-repeat;
}

.wf-donation-header-title{
    width:456px; 
    height:58px;
    position:absolute;
    top:0px;
    left:0px;
    background:url(../img/content/warm_future/wf_gd_header_title_01.png) no-repeat;  
}

.wf-donation-header-btn-01{
    width:178px; 
    height:64px;
    position:absolute;
    top:95px;
    left:575px;
}

.wf-donation-header-btn-01 a{
    display:block;
    width:178px; 
    height:64px;
    background:url(../img/content/warm_future/wf_gd_btn_01.png) no-repeat;  
}

.wf-donation-header-btn-02{
    width:178px; 
    height:63px;
    position:absolute;
    top:95px;
    left:220px;
}

.wf-donation-header-btn-02 a{
    display:block;
    width:178px; 
    height:63px;
    background:url(../img/content/warm_future/wf_gd_btn_02.png) no-repeat;  
}

.wf-donation-content{
    padding-top:50px;
    padding-bottom:50px;
    width:980px;
    min-height:650px;
    background-color:#f9f2e6;
}

.wf-donation-content-left{
    text-align:center;
    width:490px;
    float:left;
}

.wf-donation-content-left img{
    display: block;
    margin: 0 auto;
}

.wf-donation-content-right{
    width:490px;
    float:left;
}

.wf-donation-city-title{
    margin-bottom:40px;
}

.wf-donation-city-panel{
    width:387px;
    height:393px;
    background:url(../img/content/warm_future/wf_gd_frame_01.png) no-repeat;
 }
 
.wf-donation-city-table{
    width:387px;
    height:200px;
    padding-top:48px;
}

.wf-donation-city-table .table{
    width:380px;
}

.wf-donation-city-table .table .td{
    text-align:center;
    line-height:33px;
    font-weight:700;
    font-size:12px;
}

.wf-donation-city-table .link{
    color:#3b778d;
    text-decoration:none;
}

.wf-donation-city-table .table .td01{
    width:120px;
    color:#3b778d;
}

.wf-donation-city-table .table .td02{
    width:70px;
    color:#f0a853;
}

.wf-donation-city-table .table .td03{
    width:120px;    
    color:#3b778d;
}

.wf-donation-city-table .table .td04{
    width:70px;    
    color:#f0a853;
}

.wf-donation-school-panel{
    width:387px;
    height:454px;
    background:url(../img/content/warm_future/wf_gs_frame_01.png) no-repeat;
 }

.wf-donation-school-table{
    width:387px;
    height:330px;
    padding-top:60px;
}

.wf-donation-school-paging{
    width:387px;
    padding-top:25px;
}

.wf-donation-school-table .table{
    width:380px;
}

.wf-donation-school-table .table .td{
    text-align:center;
    line-height:33px;
    font-weight:700;
    font-size:12px;
}

.wf-donation-school-table .link{
    color:#3b778d;
    text-decoration:none;
}

.wf-donation-school-table .table .td01{
    width:190x;
    color:#333333;
}

.wf-donation-school-table .table .td02{
    width:190px;
    color:#f0a853;
}

.wf-donation-school-table .link{
    color:#333333;
    text-decoration:underline;
}

.table-paging{
    
}

.table-paging .prev{
    text-align:left;
    width:40px;
}

.table-paging .prev a{
    font-weight:700;
    color:#bababa;
}

.table-paging .page{
    text-align:center;
    width:20px;
}

.table-paging .page a{
    font-weight:700;
    color:#bababa;
}

.table-paging .page span{
    font-weight:700;
    color:#f0a853;
}

.table-paging .next{
    text-align:right;
    width:40px;
}

.table-paging .next a{
    font-weight:700;
    color:#bababa;
}

.wf-donation-list-header{
    width:980px; 
    height:100px; 
    background-color:#f9f2e6;
}

.wf-donation-list-title{
    width:793px;
    height:135px;
    margin:auto;    
}

.wf-donation-list-table{
    position:relative;
    background:url(../img/content/warm_future/wf_gl_frame_01.png) no-repeat;
    width:797px;
    height:623px;
    margin:auto;
    margin-top:50px;
}
 
.wf-donation-list-table-title{
    position:absolute;
    width:170px;
    height:25px;
    line-height:25px;
    text-align:center;
    top:5px;
    left:12px;
    color:#3e716a;
    font-size:16px;
    font-weight:700;
}
 
.wf-donation-list-table-btn01{
    position:absolute;
    width:173px;
    height:19px;
    top:10px;
    left:493px;
}
 
.wf-donation-list-table-btn01 a{
    display:block;
    width:173px;
    height:19px;
    background:url(../img/content/warm_future/wf_gl_btn_01.png) no-repeat;
}
 
.wf-donation-list-table-btn02{
    position:absolute;
    width:101px;
    height:18px;
    top:10px;
    left:678px;
}
 
.wf-donation-list-table-btn02 a{
    display:block;
    width:101px;
    height:18px;
    background:url(../img/content/warm_future/wf_gl_btn_02.png) no-repeat;
}

.wf-donation-list-table-th{
    position:absolute;
    top:50px;
    left:3px;
}

.wf-donation-list-table-th .list-table td{
    text-align:center;
    color:#0d5672;
    font-size:16px;
    font-weight: bold;
}

.wf-donation-list-table-td{
    position:absolute;
    top:105px;
    left:3px;
}

.wf-donation-list-table-td .list-table td{
    line-height:43px;
}

.wf-donation-list-paging{
    position:absolute;
    top:570px;
    left:3px;
    width:790px;
    height:30px;
    line-height:30px;
}

.gl-td-width-01{
    width:85px;
    text-align:center;
}

.gl-td-width-02{
    width:71px;
    text-align:center;
}

.gl-td-width-03{
    width:115px;
    text-align:center;
}

.gl-td-width-04{
    width:73px;
    text-align:center;
}

.gl-td-width-05{
    text-align:left;
    width:333px;
}

.gl-td-width-05 span{
    display:inline;
    margin-left:30px;
}

.gl-td-width-06{
    width:106px;
    text-align:center;
}

.gl-link-01{
    text-decoration:underline;
    color:#000000;
}

.gl-link-02{
    text-decoration:underline;
    color:#0d5672;
}

.wf-donation-list-popup{
    display:none;
    width:835px;
    height:785px;
    background-color:#f9f2e6;
    position:relative;
}

.gl-list-popup-close{
    position:absolute;
    width:40px;
    height:40px;
    top:10px;
    left:780px;
}

.gl-list-popup-title-01{
    padding-top:20px;
}

.gl-list-popup-title-02{
    padding-top:30px;
    padding-bottom:30px;
}

.gl-list-popup-table{
    position:relative;
    background:url(../img/content/warm_future/wf-gl-my-frame-01.png) no-repeat;
    width:710px;
    height:454px;
    margin:auto;
}

.gl-list-popup-table-th{
    position:absolute;
    top:20px;
    left:3px;
}

.gl-list-popup-table-th .list-table td{
    text-align:center;
    color:#0d5672;
    font-size:16px;
    font-weight: bold;
}

.gl-list-popup-table-td{
    position:absolute;
    top:60px;
    left:3px;
}

.gl-list-popup-table-td .list-table td{
    line-height:33px;
    text-align:center;
}

.gl-list-popup-table-paging{
    position:absolute;
    top:410px;
    left:3px;
    width:700px;
    height:30px;
    line-height:30px;
}

.gl-list-popup-btn{
    width:275px;
    height:40px;
    margin:auto;
    margin-top:30px;
}

.gl-popup-btn01{
    display:block;
    float:left;
    background:url(../img/content/warm_future/wf-gl-my-btn-01.png) no-repeat;
    width:116px;
    height:40px;
    margin-right:40px;
}

.gl-popup-btn02{
    display:block;
    float:left;
    background:url(../img/content/warm_future/wf-gl-my-btn-02.png) no-repeat;
    width:116px;
    height:40px;
}

.gl-popup-td-width-01{
    width:94px;
}

.gl-popup-td-width-02{
    width:105px;
}

.gl-popup-td-width-03{
    width:86px;
}

.gl-popup-td-width-04{
    width:73px;
}

.gl-popup-td-width-05{
    width:108px;
}

.gl-popup-td-width-06{
    width:108px;
}

.gl-popup-td-width-07{
    width:122px;
}

.wf-donation-item-title{
    width:382px;
    height:107px;
    margin:auto;    
}

.wf-donation-gi-category{
    position:relative;
}

.wf-tooltip-01{
    background:url(../img/content/warm_future/wf_tip_01.png) no-repeat;
    width:78px;
    height:70px;
}

.wf-tooltip-01 a{
    display:block;
    padding-top:34px;
    width:78px;
    height:36px;
    line-height:36px;
    font-weight:bold;
    color:#3e716a;
    text-align:center;
}

.wf-tooltip-02{
    background:url(../img/content/warm_future/wf_tip_02.png) no-repeat;
    width:78px;
    height:36px;
}

.wf-tooltip-02 a{
    display:block;
    width:78px;
    height:36px;
    line-height:36px;
    font-weight:bold;
    color:#3e716a;
    text-align:center;
}

.wf-tooltip-03{
    background:url(../img/content/warm_future/wf_tip_03.png) no-repeat;
    width:78px;
    height:36px;
}

.wf-tooltip-03 a{
    display:block;
    width:78px;
    height:36px;
    line-height:36px;
    font-weight:bold;
    color:#3e716a;
    text-align:center;
}

.gi-tooltip{
    position:absolute;
    display:none;
    z-index:99;
}

.gi-tooltip-l1{
    top: 85px;
    left: 120px;
}

.gi-tooltip-l2{
    top: 95px;
    left: 233px;
}

.gi-tooltip-l3{
    top: 88px;
    left: 343px;
}

.gi-tooltip-l4{
    top: 85px;
    left: 451px;
}

.gi-tooltip-l5{
    top: 90px;
    left: 562px;
}

.gi-tooltip-l6{
    top: 88px;
    left: 675px;
}

.gi-tooltip-l7{
    top: 85px;
    left: 780px;
}

.gi-tooltip-l8{
    top: 240px;
    left: 120px;
}

.gi-tooltip-l9{
    top: 245px;
    left: 233px;
}

.gi-tooltip-l10{
    top: 240px;
    left: 343px;
}

.gi-tooltip-l11{
    top: 245px;
    left: 451px;
}

.gi-tooltip-l12{
    top: 240px;
    left: 562px;
}

.gi-tooltip-l13{
    top: 245px;
    left: 675px;
}

.gi-tooltip-l14{
    top: 240px;
    left: 780px;
}

.gi-icon-table td{ 
    width:110px;
    height:150px;
    line-height:100px;
}

.gi-category-icon-01{
    display:block;
    width:55px;
    height:59px;
    background:url(../img/content/warm_future/wf-gi-icon-01.png) no-repeat;
    margin:auto;
}

.gi-category-icon-02{
    display:block;
    width:37px;
    height:71px;
    background:url(../img/content/warm_future/wf-gi-icon-02.png) no-repeat;
    margin:auto;
}

.gi-category-icon-03{
    display:block;
    width:36px;
    height:67px;
    background:url(../img/content/warm_future/wf-gi-icon-03.png) no-repeat;
    margin:auto;
}

.gi-category-icon-04{
    display:block;
    width:55px;
    height:63px;
    background:url(../img/content/warm_future/wf-gi-icon-04.png) no-repeat;
    margin:auto;
}

.gi-category-icon-05{
    display:block;
    width:94px;
    height:65px;
    background:url(../img/content/warm_future/wf-gi-icon-05.png) no-repeat;
    margin:auto;
}


.gi-category-icon-06{
    display:block;
    width:74px;
    height:67px;
    background:url(../img/content/warm_future/wf-gi-icon-06.png) no-repeat;
    margin:auto;
}


.gi-category-icon-07{
    display:block;
    width:74px;
    height:62px;
    background:url(../img/content/warm_future/wf-gi-icon-07.png) no-repeat;
    margin:auto;
}

.gi-category-icon-08{
    display:block;
    width:45px;
    height:62px;
    background:url(../img/content/warm_future/wf-gi-icon-08.png) no-repeat;
    margin:auto;
}

.gi-category-icon-09{
    display:block;
    width:73px;
    height:81px;
    background:url(../img/content/warm_future/wf-gi-icon-09.png) no-repeat;
    margin:auto;
}

.gi-category-icon-10{
    display:block;
    width:40px;
    height:68px;
    background:url(../img/content/warm_future/wf-gi-icon-10.png) no-repeat;
    margin:auto;
}

.gi-category-icon-11{
    display:block;
    width:36px;
    height:75px;
    background:url(../img/content/warm_future/wf-gi-icon-11.png) no-repeat;
    margin:auto;
}

.gi-category-icon-12{
    display:block;
    width:43px;
    height:67px;
    background:url(../img/content/warm_future/wf-gi-icon-12.png) no-repeat;
    margin:auto;
}

.gi-category-icon-13{
    display:block;
    width:55px;
    height:71px;
    background:url(../img/content/warm_future/wf-gi-icon-13.png) no-repeat;
    margin:auto;
}


.gi-category-icon-14{
    display:block;
    width:39px;
    height:67px;
    background:url(../img/content/warm_future/wf-gi-icon-14.png) no-repeat;
    margin:auto;
}

.gi-category-icon-01:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-01.png) no-repeat;
}

.gi-category-icon-02:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-02.png) no-repeat;
}

.gi-category-icon-03:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-03.png) no-repeat;
}

.gi-category-icon-04:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-04.png) no-repeat;
}

.gi-category-icon-05:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-05.png) no-repeat;
}

.gi-category-icon-06:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-06.png) no-repeat;
}

.gi-category-icon-07:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-07.png) no-repeat;
}

.gi-category-icon-08:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-08.png) no-repeat;
}

.gi-category-icon-09:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-09.png) no-repeat;
}

.gi-category-icon-10:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-10.png) no-repeat;
}

.gi-category-icon-11:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-11.png) no-repeat;
}

.gi-category-icon-12:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-12.png) no-repeat;
}

.gi-category-icon-13:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-13.png) no-repeat;
}

.gi-category-icon-14:hover{
    background:url(../img/content/warm_future/wf-gi-icon-o-14.png) no-repeat;
}

.wf-donation-item-table{
    position:relative;
    background:url(../img/content/warm_future/wf-gi-frame-01.png) no-repeat;
    width:387px;
    height:498px;
    margin:auto;
    margin-top:50px;
}

.wf-donation-school-item-table{
    position:relative;
    background:url(../img/content/warm_future/wf-gsi-frame-01.png) no-repeat;
    width:387px;
    height:382px;
    margin:auto;
    margin-top:50px;
}

.wf-donation-item-table-title{
    position:absolute;
    width:180px;
    height:25px;
    line-height:25px;
    text-align:center;
    top:5px;
    left:100px;
    color:#3e716a;
    font-size:16px;
    font-weight:700;
}

.wf-donation-item-table .wf-donation-item-list-table{
    position:absolute;
    top:105px;
    left:3px;
}

.wf-donation-item-list-table{
    position:absolute;
    top:46px;
    left:3px;
}

.wf-donation-item-list-table .list-table td{
    line-height:33px;
    text-align:center;
}

.wf-donation-item-list-paging{
    position:absolute;
    top:450px;
    left:3px;
    width:380px;
    height:30px;
    line-height:30px;
}

.gi-td-width-01{
    width:189px;
}

.gi-td-width-01 a{
    color:#000000;
    text-decoration:underline;
}

.gi-td-width-02{
    color:#f0a853;
    width:189px;
}

.wf-ii-title-02{
    width:206px;
    height:19px;
    margin:auto;
    margin-top:50px; 
}

.wf-ii-title-03{
    width:206px;
    height:19px;
    margin:auto;
    margin-top:50px; 
}

.wf-ii-title-04{
    width:162px;
    height:19px;
    margin:auto;
    margin-top:50px; 
}

.wf-ii-table{
    position:relative;
    background:url(../img/content/warm_future/wf-in-frame-01.png) no-repeat;
    width:800px;
    height:495px;
    margin:auto;
}

.wf-ii-table-th{
    position:absolute;
    top:60px;
    left:3px;
}

.wf-ii-table-th .list-table td{
    text-align:center;
    color:#0d5672;
    font-size:16px;
    font-weight: bold;
}

.wf-ii-table-td{
    position:absolute;
    top:100px;
    left:3px;
}

.wf-ii-table-td .list-table td{
    line-height:33px;
}

.wf-ii-paging{
    position:absolute;
    top:450px;
    left:3px;
    width:800px;
    height:30px;
    line-height:30px;
}

.wf-ii-td-width-01{
    width:101px;
    text-align:center;
}

.wf-ii-td-width-02{
    width:117px;
    text-align:center;
}

.wf-ii-td-width-03{
    width:102px;
    text-align:center;
}

.wf-ii-td-width-04{
    width:83px;
    text-align:center;
}

.wf-ii-td-width-05{
    width:108px;
    text-align:center;
}

.wf-ii-td-width-06{
    width:108px;
    text-align:center;
}

.wf-ii-td-width-07{
    width:167px;
    text-align:left;
}

.wf-ii-td-width-07 span{
    display:inline;
    margin-left:15px;
}

.wf-ii-input{
    background:url(../img/content/warm_future/wf-in-bg-01.png) no-repeat;
    width:791px;
    height:243px;
    margin:auto;
    margin-top:20px;
}

.wf-ii-table-td-01{
    width:250px;
    height:63px;
    text-align:right;
}

.wf-ii-table-td-02{
    width:250px;
    text-align:right;
    vertical-align:text-top;
    padding-top:10px;
}

.wf-ii-table-td-03{
    vertical-align:text-top;
    padding-top:10px;
    line-height:50px;
}

.wf-ii-form-text{
    padding:10px;
    background-color:#efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:0px;
    behavior: url(PIE.htc); 
}

.wf-ii-form-select{
    padding:10px;
    background-color:#efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:0px;
    margin-right:10px;
    behavior: url(PIE.htc); 
}

.wf-ii-statement{
    border-top:3px solid #f5e8d2;
    border-bottom:3px solid #f5e8d2;
    width:800px;
    height:235px;
    overflow-y:scroll;
    margin:auto;
    margin-top:20px;
}

.wf-ii-statement-text{
    padding:8px;
    line-height:25px;
    font-size:13px;
}

.wf-ii-agree{
    margin-top:10px;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:13px;
}

.wf-ii-btn{
    width:275px;
    height:40px;
    margin:auto;
    margin-top:30px;
}

.wf-ii-btn01{
    display:block;
    float:left;
    background:url(../img/content/warm_future/wf-in-btn-01.png) no-repeat;
    width:116px;
    height:40px;
    margin-right:40px;
}

.wf-ii-btn02{
    display:block;
    float:left;
    background:url(../img/content/warm_future/wf-in-btn-02.png) no-repeat;
    width:116px;
    height:40px;
}

.wf-is-title-02{
    width:166px;
    height:19px;
    margin:auto;
    margin-top:50px; 
}

.wf-is-table{
    position:relative;
    background:url(../img/content/warm_future/wf-is-frame-01.png) no-repeat;
    width:800px;
    height:530px;
    margin:auto;
    margin-top:50px;
}

.wf-is-table-info01{
    position:absolute;
    top:10px;
    left:90px;
    color:#3e716a;
    font-size:16px;
    font-weight:700;
    line-height:30px;
    text-align:center;
}

.wf-is-table-info02{
    position:absolute;
    top:10px;
    left:320px;
    color:#3e716a;
    font-size:16px;
    font-weight:700;
    line-height:30px;
    text-align:center;
}

.wf-is-table-info03{
    position:absolute;
    top:10px;
    left:620px;
    color:#3e716a;
    font-size:16px;
    font-weight:700;
    line-height:30px;
    text-align:center;
}

.wf-is-table-th{
    position:absolute;
    top:95px;
    left:3px;
}

.wf-is-table-th .list-table td{
    text-align:center;
    color:#0d5672;
    font-size:16px;
    font-weight: bold;
}

.wf-is-table-td{
    position:absolute;
    top:137px;
    left:3px;
}

.wf-is-table-td .list-table td{
    line-height:33px;
    text-align:center;
}

.wf-is-table-paging{
    position:absolute;
    top:480px;
    left:0px;
    width:800px;
    height:30px;
    line-height:30px;
}

.is-td-width-01{
    width:109px;
}

.is-td-width-02{
    width:86px;
}

.is-td-width-03{
    width:98px;
}

.is-td-width-04{
    width:102px;
}

.is-td-width-05{
    width:115px;
}

.is-td-width-06{
    width:92px;
}

.is-td-width-07{
    width:84px;
}

.is-td-width-08{
    width:99px;
}

.wf-is-btn{
    width:116px;
    height:40px;
    margin:auto;
    margin-top:30px;
}

.wf-is-btn01{
    display:block;
    float:left;
    background:url(../img/content/warm_future/wf-is-btn-01.png) no-repeat;
    width:116px;
    height:40px;
}

.content img {
    display:inline-block;
}

.wf-tip-icon-01{
    display:inline-block;
}

.wf-tip-icon-01 img{
  vertical-align : middle;
  margin-top:0px;
  margin-left:3px;
}

.gsi-number-text{
    color:#f0a853;
}
